POSTGRES_DB=emergency_db
POSTGRES_USER=emergency_user
POSTGRES_PASSWORD=emergency_pass
JWT_SECRET=change-this-to-a-256-bit-secret
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_FROM_NUMBER=+1234567890
